*{
    margin: 0;
    padding: 0;
}
.w1280{
    width: 1280px;
}
.h200{
    height: 200px;
}
.br{
    border: solid 1px red;
}
.mar_auto{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.top{
    border-bottom: 3px solid #56B1E7;
}
.logo{
    width: 375px;
    height: 120px;
    background-image: url("../../img/logo.png");
    background-size: 100%;

}
.top_menu{
    width: 600px;
    height: 40px;
    margin-top: 40px;
    float: left;
}
.top_li_a_1{
    text-decoration: none;
}
.top_menu ul{
    list-style: none;
}
.top_li_1{
    height: 36px;
    width: auto;
    float: left;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
}
.top_menu_u_l_hover{
    border-bottom: 3px #0000cc solid;
}
.top_menu_u_l{
    border-bottom: none;
}
.top_menu_ul_li_a{
    color: black;
}
.top_menu_ul_li_a_hover{
    color: #0000cc;
    font-weight: bold;
}
.top_logout{
    height: 50px;
    width: 300px;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
.top_via{
    width: 50px;
    height: 50px;
    background-color: #b3b3b3;
    float: left;
    border-radius: 50px;
    background-position: center;
    background-size:50px 50px;
}
.top_logout_content{
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 5px;
}
.logout{
    height: 20px;
    width: 40px;
    float: right;
    line-height: 20px;
    margin-top: 15px;
    border: 1px solid #0000cc;
    text-align: center;
    border-radius: 6px;
}
.logout a{
    text-decoration: none;
    color: #0000cc;
}
.bottom_introduce{
    background-color: #0000cc;
}
.t_content{
    width: 100%;
    height: auto;
    color: #FFFFFF;
    text-align: center;
    font-family: ΢���ź�;
    font-size: 18px;
}
.t_content a{
    text-decoration: none;
    color: #FFFFFF;
}
.mar_top30{
    margin-top: 30px;
}
.mar_top20{
    margin-top: 20px;
}

.carousel{
    height: 360px;
    margin-top: 50px;
}
.carousel_menu{
    width:250px;
    height:360px;
    float:left;
}
.carousel_menu li{
    width:200px;
    height:62px;
    float: left;
    margin-left: 25px;
    list-style:none;
    line-height: 62px;
    border-bottom: 1px solid #cccccc;
}
.carousel span{
    display: block;
    padding-top: 8px;
    padding-left: 10px;
    width: 40px;
    height:54px;
    float: left;
}
.carousel img{
    width: 30px;
}
.carousel a{
    color: #0000cc;
}
#carousel_img{
    width:960px;
    height:360px;
    float:right;
    background-color: #fffadc;
    position: relative;
}
.carousel_img_div{
    width:960px;
    height:360px;
    background-size:960px 360px;;
    background-position:center;
    float: left;
}
.carousel_button{
    position: absolute;
    top: 190px;
    right: 20px;
    width: 32px;
    height: 150px;
    float: right;
    border-radius: 10px;
    opacity: 0.8;
}
.show{
    display: block;
}
.hidden{
    display: none;
}
.carousel_button_div{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 1px;
    background-color: bisque;
    margin-top: 5px;
    border-radius: 30px;
}
.carousel_button_bg{
    float: left;
    width: 28px;
    height: 28px;
    background-color: #FFFFFF;
    border-radius: 28px;
    margin-left: 1px;
    margin-top: 1px;

}

.black{
    height: auto;
    margin-top: 150px;
    margin-left: -150px;
}
.input{
    width: 700px;
    height: 60px;
    background-color: #F5F5F5;
    margin: 30px auto 10px;
    border-radius: 12px;
    border: 1px solid #999;
    line-height: 40px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #999999;
}
.input_black{
    height: 60px;
    width: 700px;
    background-color: #F5F5F5;
    outline: none;
    border: none;
    text-indent: 30px;
}
.loginbutton_input{
    height: 60px;
    width: 200px;
    outline: none;
    border: none;
    background-color: #65A2FD;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    color: #FFFFFF;
    letter-spacing: 12px;
    position: relative; margin-top: -60px;margin-left: 701px;
}

.user{
    height: auto;
    width: auto;
    position:fixed; bottom:0;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    margin:10px;
    margin-left:830px;
}

#blackmessage{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 720px;
    height: 200px;
    box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: relative;
    left: 530px;
    top: -10px;
    z-index: 1111;
    display: none;
    font-size: 40px;
    font-weight: bold;
    color: red;
    text-align: center;
    line-height: 5;
}
