*{
    padding: 0;
    margin: 0;
}
.title{
    width: 980px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    color: #999999;
}
.titlecontext {
    float: left;
    font-size: 14px;
    font-family: Î¢ÈíÑÅºÚ;
}
.myself{
    width: 1000px;
    margin: 35px auto 0px;
}
.submit{
    display: block;
    margin: 0 auto;
}
.formtext{
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 20px;
    color: #333333;
}
.forminput{
    height: 50px;
    width: 600px;
    background-color: #eeeeee;
    margin-left: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #888888;
    outline: none;
}
.flag1{
    width: 700px;
    margin: 20px auto 0px;
}
.forminput2{
    height: 50px;
    width: 150px;
    background-color: #eeeeee;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #888888;
    outline: none;
}
.flag2{
    color: skyblue;
    font-size: 20px;
    margin-left: 13px;
}
.submit{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: skyblue;
    font-size: 20px;
    margin-top: 35px;
    cursor: pointer;
    border: 1px solid skyblue;
}
.headimg{
    display: block;
    width: 125px;
    height: 124px;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid red;
}
.main{
    width: auto;
    height: 600px;
    margin: 100px auto;
}