<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tst.fanzhapian.mapper.TMessageMapper">


    <resultMap id="TMessageToTMessageType" type="com.tst.fanzhapian.entity.TMessage">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <association property="typeid" javaType="com.tst.fanzhapian.entity.TMessagetype">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>

    </resultMap>

    <select id="getTMessageBylikeAndPage" resultMap="TMessageToTMessageType">
        select t1.*,t2.* from t_message t1 join t_messagetype t2 on t1.typeid=t2.id
        <if test="typeid!=null and typeid!=''">
            where t1.typeid='${typeid}'
        </if>
    </select>

    <select id="getOneMessage" resultMap="TMessageToTMessageType">
        select t1.*,t2.* from t_message t1 join t_messagetype t2 on t1.typeid=t2.id and t1.id='${id}'
    </select>
</mapper>
