<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tst.fanzhapian.mapper.TTeamprojectMapper">

    <resultMap id="myproject" type="com.tst.fanzhapian.entity.TTeamproject">
        <association property="team" javaType="com.tst.fanzhapian.entity.TTeam">
            <id property="id" column="id"/>
        </association>
        <association property="project" javaType="com.tst.fanzhapian.entity.TProject">
            <id property="id" column="projectid"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="getMyProject" resultMap="myproject">

        select t1.id, t3.id projectid ,t3.name
        from t_team t1 LEFT JOIN t_teamproject t2 on t1.id=t2.teamid
        LEFT JOIN t_project t3 on t2.projectid=t3.id
        where t1.userid=${id}
    </select>
    <select id="getOne" resultType="com.tst.fanzhapian.entity.TTeamproject">
        select * from t_teamproject where teamid=${teamid} and projectid=${projectid}
    </select>

    <insert id="addproject">
        insert into t_teamproject values(${teamid},${projectid})
    </insert>

    <delete id="delproject">
        delete from t_teamproject where teamid=${teamid} and projectid=${projectid}
    </delete>

</mapper>
